body, html {
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    color: #ffffff;
    text-align: center;
}

.menu .toggle {
    z-index: 1000;
    cursor: pointer;
}

.menu > div {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    background: #00FF99;
    border-radius: 50%;
    box-shadow: 0 0 3px #003333;

}

.menu > div > i {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.menu > div:not(:first-child) {
    opacity: 0;
}
.menu.active > div:not(:first-child) {
    opacity: 1;
}

/*.menu.active > div:not(:first-child) {*/
/*display: table;*/
/*}*/

@keyframes badbounce {
    0%, 100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }
    30% {
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    70% {
        -webkit-transform: translateY(3px);
        -moz-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
    }
    90% {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

.ss_animate {
    -webkit-animation: badbounce 1s linear;
    -moz-animation: badbounce 1s linear;
    animation: badbounce 1s linear;
}

@keyframes badbounce1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        opacity: .3;
        -webkit-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-50%) scale(1.2) rotate(180deg);
        transform: translateY(-50%) scale(1.2) rotate(180deg);
    }
    60% {
        opacity: .6;
        -webkit-transform: translateY(-100%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-100%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-100%) scale(.8) rotate(360deg);
        -o-transform: translateY(-100%) scale(.8) rotate(360deg);
        transform: translateY(-100%) scale(.8) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-150%) scale(1) rotate(0deg);
        -moz-transform: translateY(-150%) scale(1) rotate(0deg);
        -ms-transform: translateY(-150%) scale(1) rotate(0deg);
        -o-transform: translateY(-150%) scale(1) rotate(0deg);
        transform: translateY(-150%) scale(1) rotate(0deg);
    }
}
@keyframes badbounce-1 {
    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        opacity: .3;
        -webkit-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-50%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-50%) scale(1.2) rotate(180deg);
        transform: translateY(-50%) scale(1.2) rotate(180deg);
    }
    30% {
        opacity: .6;
        -webkit-transform: translateY(-100%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-100%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-100%) scale(.8) rotate(360deg);
        -o-transform: translateY(-100%) scale(.8) rotate(360deg);
        transform: translateY(-100%) scale(.8) rotate(360deg);
    }
    0% {
        opacity: 1;
        -webkit-transform: translateY(-150%) scale(1) rotate(0deg);
        -moz-transform: translateY(-150%) scale(1) rotate(0deg);
        -ms-transform: translateY(-150%) scale(1) rotate(0deg);
        -o-transform: translateY(-150%) scale(1) rotate(0deg);
        transform: translateY(-150%) scale(1) rotate(0deg);
    }
}

@keyframes badbounce2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        opacity: .3;
        -webkit-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-100%) scale(1.2) rotate(180deg);
        transform: translateY(-100%) scale(1.2) rotate(180deg);
    }
    60% {
        opacity: .6;
        -webkit-transform: translateY(-200%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-200%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-200%) scale(.8) rotate(360deg);
        -o-transform: translateY(-200%) scale(.8) rotate(360deg);
        transform: translateY(-200%) scale(.8) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-300%) scale(1) rotate(0deg);
        -moz-transform: translateY(-300%) scale(1) rotate(0deg);
        -ms-transform: translateY(-300%) scale(1) rotate(0deg);
        -o-transform: translateY(-300%) scale(1) rotate(0deg);
        transform: translateY(-300%) scale(1) rotate(0deg);
    }
}
@keyframes badbounce-2 {
    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        opacity: .3;
        -webkit-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-100%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-100%) scale(1.2) rotate(180deg);
        transform: translateY(-100%) scale(1.2) rotate(180deg);
    }
    30% {
        opacity: .6;
        -webkit-transform: translateY(-200%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-200%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-200%) scale(.8) rotate(360deg);
        -o-transform: translateY(-200%) scale(.8) rotate(360deg);
        transform: translateY(-200%) scale(.8) rotate(360deg);
    }
    0% {
        opacity: 1;
        -webkit-transform: translateY(-300%) scale(1) rotate(0deg);
        -moz-transform: translateY(-300%) scale(1) rotate(0deg);
        -ms-transform: translateY(-300%) scale(1) rotate(0deg);
        -o-transform: translateY(-300%) scale(1) rotate(0deg);
        transform: translateY(-300%) scale(1) rotate(0deg);
    }
}

@keyframes badbounce3 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        opacity: .3;
        -webkit-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-150%) scale(1.2) rotate(180deg);
        transform: translateY(-150%) scale(1.2) rotate(180deg);
    }
    60% {
        opacity: .6;
        -webkit-transform: translateY(-300%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-300%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-300%) scale(.8) rotate(360deg);
        -o-transform: translateY(-300%) scale(.8) rotate(360deg);
        transform: translateY(-300%) scale(.8) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-450%) scale(1) rotate(0deg);
        -moz-transform: translateY(-450%) scale(1) rotate(0deg);
        -ms-transform: translateY(-450%) scale(1) rotate(0deg);
        -o-transform: translateY(-450%) scale(1) rotate(0deg);
        transform: translateY(-450%) scale(1) rotate(0deg);
    }
}
@keyframes badbounce-3 {
    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        opacity: .3;
        -webkit-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -moz-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -ms-transform: translateY(-150%) scale(1.2) rotate(180deg);
        -o-transform: translateY(-150%) scale(1.2) rotate(180deg);
        transform: translateY(-150%) scale(1.2) rotate(180deg);
    }
    30% {
        opacity: .6;
        -webkit-transform: translateY(-300%) scale(.8) rotate(360deg);
        -moz-transform: translateY(-300%) scale(.8) rotate(360deg);
        -ms-transform: translateY(-300%) scale(.8) rotate(360deg);
        -o-transform: translateY(-300%) scale(.8) rotate(360deg);
        transform: translateY(-300%) scale(.8) rotate(360deg);
    }
    0% {
        opacity: 1;
        -webkit-transform: translateY(-450%) scale(1) rotate(0deg);
        -moz-transform: translateY(-450%) scale(1) rotate(0deg);
        -ms-transform: translateY(-450%) scale(1) rotate(0deg);
        -o-transform: translateY(-450%) scale(1) rotate(0deg);
        transform: translateY(-450%) scale(1) rotate(0deg);
    }
}

.menu.active > div:nth-child(2) {
    -webkit-animation: badbounce1 .8s ease;
    -o-animation: badbounce1 .8s ease;
    animation: badbounce1 .8s ease;
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);
}
.menu.hide > div:nth-child(2) {
    -webkit-animation: badbounce-1 .8s ease;
    -o-animation: badbounce-1 .8s ease;
    animation: badbounce-1 .8s ease;
}

.menu.active > div:nth-child(3) {
    -webkit-animation: badbounce2 1s ease;
    -o-animation: badbounce2 1s ease;
    animation: badbounce2 1s ease;
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    transform: translateY(-300%);
}
.menu.hide > div:nth-child(3) {
    -webkit-animation: badbounce-2 1s ease;
    -o-animation: badbounce-2 1s ease;
    animation: badbounce-2 1s ease;
}

.menu.active > div:nth-child(4) {
    -webkit-animation: badbounce3 1.2s ease;
    -o-animation: badbounce3 1.2s ease;
    animation: badbounce3 1.2s ease;
    -webkit-transform: translateY(-450%);
    -moz-transform: translateY(-450%);
    -ms-transform: translateY(-450%);
    -o-transform: translateY(-450%);
    transform: translateY(-450%);
}
.menu.hide > div:nth-child(4) {
    -webkit-animation: badbounce-3 1.2s ease;
    -o-animation: badbounce-3 1.2s ease;
    animation: badbounce-3 1.2s ease;
}